* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	background-color: #c2c204;
	color: white;
	width: 100%;
	font-family: montserrat;
}
h1,
h2 {
	color: #c2c204;
}
p {
	color: rgb(92, 128, 0);
}
header {
	/* width: 100%;
    margin: 0 auto; */
	text-align: center;
	padding: 1.5rem;
}
.fa-solid {
	width: 20px;
}
.search {
	border: none;
	border-radius: 5px;
	height: 30px;

	padding: 1rem 2rem;
	outline: 0;
	background-color: #f5f5f5;
}
input:focus {
	border: 2px solid blue;
	transition: 5s linear ease-in;
}
.container {
	width: 65vw;
	margin: 0 auto;
	background-color: black;
	border-radius: 10px;
	height: 85vh;
	align-items: center;
}
.wrapper {
	padding: 5rem 5rem;
}
.profile {
	display: flex;
	justify-content: space-between;
}
.img-about {
	display: flex;
}
.profile img {
	border: 6px solid #c2c204;
	width: 80px;
	border-radius: 50%;
}
.sec-follow {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0;
	text-align: center;
}
.profile-btn button {
	padding: 1rem 2rem;
	border-radius: 5px;
	background-color: #c2c204;
}
.sec-about {
	margin: 1rem 0;
}
.sec-about p {
	margin: 0.5rem 0;
	color: #f5f5f5;
}

.text-green {
	margin: 0.5rem 1rem;
}
.text-green h1 {
	font-size: 1.5rem;
	text-transform: capitalize;
}
.text-green p {
	font-size: 1.1rem;
	
}
.text-green h6 {
	font-size: 1.1rem;
	font-weight: normal;
}

@media (max-width: 426px) {
	.container {
		width: 100%;
	}
	.wrapper {
		padding: 2rem 2rem;
	}
	.profile {
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	.profile-btn a {
		width: 100%;
		padding: 1rem 2rem;
		border-radius: 5px;
		background-color: #c2c204;
	}
}
.repos {
	width: 800px;
	position: absolute;
	text-align: center;
	min-height: 100px;
	overflow: auto;
	background-color: rgb(10, 27, 27);
	padding: 1rem;
	border-radius: 20px;
	margin: 1rem;
}

.repos h1 {
	color: white;
}

.repo {
	display: inline-block;
	color: #000000;
	text-decoration: none;
	padding: 0.3rem;
	background-color: #c2c204;
	margin: 0.5rem;
	border-radius: 0.5rem;
}

.repo:hover {
	background-color: rgb(0, 14, 42);
	color: #f5f5f5;
}
.sec-follow p{
	color: #f5f5f5;
	font-weight: 600;
	font-size: larger;
}
